<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwl.vhrapi.mapper.MailSendLogMapper">
    <insert id="insertMailSendLog" parameterType="com.zwl.vhrapi.model.MailSendLog">
        insert into mail_send_log (msgId, empId, routeKey, exchange, tryTime, createTime, updateTime)
        values(#{msgId},#{empId},#{routeKey},#{exchange},#{tryTime},#{createTime},#{updateTime})
    </insert>

    <update id="updateMailSendLogStatus">
        update mail_send_log set status = #{status} where msgId = #{msgId}
    </update>
    <update id="updateCount">
        update mail_send_log set count=count + 1, updateTime = #{date} where msgId = #{msgId}
    </update>
    <select id="getMailSendLogByStatus" resultType="com.zwl.vhrapi.model.MailSendLog">
        select * from mail_send_log where status = 0 and tryTime &lt; sysdate()
    </select>
</mapper>